<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wkq.file">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:largeHeap="true">
        <activity
            android:name=".FileSelectorActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
    </application>
</manifest>